@import url('https://fonts.googleapis.com/css?family=Open+Sans&dispay=swap');

* {
  box-sizing: border-box;
}

body {
  background: rgb(215, 212, 212);
  margin: 0;
  padding: 0;
}

main {

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 672px;
  margin: 0;
}


.header_top {
  width: 100%;
  height: 100px;
  background-color: rgb(241, 175, 53);
  display: flex;
  justify-content: space-around;
  position: absolute;
}

/* dropdown */
.menu {
  display: flex;
  list-style: none;
  padding: 10px;
}

.menu li {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 16px;
}

.has_submenu {
  position: relative;
}

.has_submenu:hover .submenu {
  display: block;
}


.submenu {
  text-align: center;
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  background-color: aqua;
  border-radius: 7px;
  border: 1px solid;
  width: 150px;
}

ul .submenu {
  border: 1px solid;
}

ul .submenu li.vien {
  border-top: 1px solid;
}

ul .submenu li {
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul .submenu li a {
  text-decoration: none;
  color: black;
}

ul .submenu li:hover {

  background-color: rgb(162, 243, 243);
}


.thongbao {
  padding: 5px;
}

/*  */
.logo_top_left>img {
  width: 70px;
  height: 70px;
  margin-top: 12px;
}

.danhmuc_center {
  margin-top: 10px;
  margin-left: 130px;
}

.danhmuc_center li a button {
  border-radius: 7px;
  width: 100px;
  height: 30px;
  font-weight: 600;

}

.input_top_right {
  margin-top: 30px;
}

.button_header {
  width: 100px;
  height: 30px;
  border-radius: 7px;
}

.input_header {
  border-radius: 5px;
  height: 28px;
}

button:hover {
  background-color: aqua;
}

button.search {
  width: 45px;
  height: 28px;
  border-radius: 5px;
}

table {
  background: rgb(246, 243, 243);
  border-radius: 7px;
  margin-top: 90px;
  width: 600px;
  height: 550px;
  text-align: left;
  border: 1px solid black;
  display: flex;
}

table td.tieude {
  padding-top: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: red;
}

table tr th {
  font-size: 18px;
  padding: 15px 10px;
}

table tr td input.input {
  width: 400px;
  height: 30px;
}


table tr td input.input {
  border-radius: 7px;
  border: 2px solid rgb(177, 235, 215);
}

table tr td textarea {
  border: 2px solid rgb(177, 235, 215);
  border-radius: 7px;
}

.nut {
  text-align: right;
  padding: 0px 30px;

}

input.size_button {
  border-radius: 7px;
  width: 150px;
  height: 30px;
}

#nut_muahang button {
  background-color: aqua;
  border-radius: 7px;
  margin-top: 10px;
  width: 150px;
  height: 35px;
}

.chonj {
  border: 2px solid rgb(177, 235, 215);
  border-radius: 7px;
  width: 400px;
  height: 30px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: rgb(241, 175, 53);

}

.infor {
  font-family: "Trirong", serif;
  font-size: 17px;
  padding: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;

}

/*  */
.wapper_modal {
  min-height: 100%;
}

#modal_container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

#modal_container.show {
  opacity: 1;
  pointer-events: all;
}

.modal {
  background: rgb(241, 175, 53);
  border-radius: 7px;
  max-width: 500px;
  height: 230px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;

}

#modal_container.show .modal {
  top: 230px;
}


.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid black;
  margin: 0;
}

#modal .modal_header h2 {
  margin: 0;
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
}

.modal_body p {
  text-align: center;
  padding: 0px 50px 20px 30px;
  font-size: 25px;
}

button#button_close {
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}




#modal_containerr {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

#modal_containerr.showw {
  opacity: 1;
  pointer-events: all;
}

.modall {
  background: rgb(241, 175, 53);
  border-radius: 7px;
  max-width: 500px;
  height: 230px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;

}

#modal_containerr.showw .modall {
  top: 230px;
}


.modal_headerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid black;
  margin: 0;
}

#modall .modal_headerr h2 {
  margin: 0;
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
}

.modal_bodyy p {
  text-align: center;
  padding: 0px 50px 20px 30px;
  font-size: 25px;
}

button#button_closee {
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}